.glowingText {
    font-size: 3rem;
    color: #fff;
    text-shadow: 0 0 0px #fff, 0 0 7px #fff, 0 0 6px #ff00ff, 0 0 14px #ff00ff,
        0 0 25px #ff00ff, 0 0 38px #ff00ff, 0 0 50px #ff00ff;
    animation: glow 1.5s infinite alternate;
}


@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff,
            0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff;
    }

    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #5dade2, 0 0 30px #5dade2,
            0 0 40px #5dade2, 0 0 50px #5dade2, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
    }
}