.glowingBorder {
 padding: 20px 40px;
 font-size: 2rem;
 color: #9a4545;
 border: 5px solid;
 border-radius: 10px;
 border-color: #ff00ff;


 animation: glow-border 2s infinite alternate;
}


@keyframes glow-border {
 0% {
   border-color: #ff00ff;
 }
 50% {
   border-color: #00ffff;
 }
 100% {
   border-color: #ff00ff;
 }
}